
.inicio {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
    margin-top: 50px;
}

.text {
    padding: 20px;
}

.buttons-cont {
display:grid;
grid-template-columns: 1fr 1fr;
text-align: center;
}

button {
    background-color:#572A99;
   padding: 10px; 
   color:white;
   border-radius: 20px;
   width: 50%;
}
