.about {
text-align:center;
}

.info-container {
  background-color:#4c248aa8;
  padding:20px;
  max-height:max-content;
} 

 .icono2-cont {
  padding:20px;
} 
.icono2 {
   justify-content:center;
    justify-items:center;
    justify-self:center;
    padding-top:10px;
    margin:0px auto;
}

.text2 {
margin:20px;
}

.title2, p {
   margin:10px; 
}