.about {
padding:10px;
padding-bottom: 32px;
}

.info-container {
  background-color:#4c248aa8;
  margin-top:22px;
  color:white;
 height:max-content;
 border-radius:8px;
} 

 .icono2-cont {
  padding:20px;
} 
.icono2 {
   justify-content:center;
    justify-items:center;
    justify-self:center;
    padding-top:10px;
    margin:0px auto;
}

.text2 {
margin:20px;
}
