.about {
text-align:center;
background-color:#562a99a8;
color:white;
padding-bottom:150px;
}

.container {
    padding:0px;
 }  

.info-cont {
  padding-top:30px;
}

h3 {
    margin-top:10px;
    align-items:center;  
    justify-items:center; 
}

.text {
    padding: 30px;
}


 .icono2-cont {
  padding:20px;
} 
.icono2 {
   justify-content:center;
    justify-items:center;
    justify-self:center;
    padding-top:10px;
}
