/* MOBILE FIRST */

.tips {
display:grid;
flex-direction: column; 
text-align:center;
justify-content: center;
justify-items: center;
padding:20px
}

/* .news {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align:center;
    justify-content: center;
    justify-items: center;
    padding:20px
    } */
    
.adult-routes{
    display:grid;
}

link {
    padding:0px;
}

h3 {
    margin-top:10px;
    align-items:center;   /* alinea verticalmente */
    justify-items:center; /*alinea horizontalmente */
}

.text {
    padding: 20px;
}

.buttons-cont {
display:flex;
grid-template-columns: 1fr 1fr 1fr; 
text-align: center;
}

  button {
   background-color:#572A99;
   padding: 10px;
   color:white;
   border-radius: 30px;
   width: 80%;
}

.img-cont {
    display:grid;
    padding:20px;
    align-items:center;   /* alinea verticalmente */
    justify-items:center; /*alinea horizontalmente */
}
 

/* TABLET */

/* @media (min-width: 601px) {
    .inicio {
    display:grid;
    }
   
   .img-cont {
    grid-template-columns: 1fr 1fr 1fr;
   }
   .img-home {
    width:400px;
    }
} */


/* DESKTOP */
/* 
@media (min-width: 1024px) {
    .inicio {
    display:grid;
    }
    .container div {
    min-height:320px
    }
   .img-cont {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:20px; 
   }
   .buttons-cont {
    display:grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    }
    h3 {
        margin-top:30px;
}
/* button {
    width: 100%;
} */
/* .img-virus {
    width:170px;
}
.img-liga {
      width:320px;
 } */
/* }  */