
.adults {
     padding:10px; 
     margin-bottom:50px;
      text-align:center;
    }   

.info {
    padding:15px;
   
}

.tipList {
    padding:20px;
}

.newsbox {
    padding:20px;
    margin-bottom:10px;
}

.downbox {
    text-align:left;
    padding:10px;
}

.title {
    margin-top:10px;
}

.img-welcome {
    padding:20px;
}

.covid {
    padding:20px;
}

.audiobutton, .audio {
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-items:center;
   padding:5px;
   width:64px;
}

.audio{
   background:#ec8313ec;
}