.adults, .tips, .news, .aQuiz .download {
display:flex;
flex-direction: column; 
text-align:center;
justify-content: center;
justify-items: center;
padding:10px;
}

.newsbox {
    padding:20px;
    margin-bottom:10px;
}

.downbox {
    text-align:left;
    padding:10px;
}

.imgMasc {
    
}