.contact {
  background: transparent;
 color: #2c73c5;
  text-align: center;
  justify-items: center;
  }

  .information {
    background-color: #ec8313ec;
    align-self:center;
    align-content: center;
    padding: 5px;
  }

  .info-contact {
    padding:1px;
  }

  .icono1 {
    padding:8px;
  }

.text2, h4 {
  color:white;
}

  .material-icons {
    color:white;
  }

  .contact-text {
    color:white;
    padding:5px;
  }