.contact {
  background: transparent;
 color: #2c73c5;
  text-align: center;
  justify-items: center;
  margin-bottom:60px;
  }

  .info-container, .contact {
    align-self:center;
    align-content: center;
    padding-bottom:55px;
  }

  .information {
    background-color: #ec8313ec;
    padding:10px;
    border-radius:7px;
  }

  .info-contact {
    padding:20px;
  }

  .icono1 {
    padding:10px;
    padding-top:5px;
  }

.information {
  color:white;
}

  .material-icons {
    color:white;
  }

  .contact-text {
    color:rgb(255, 255, 255);
  }