/* MOBILE FIRST */
.home {
text-align:center;
justify-content: center;
justify-items: center;
padding:10px;
margin-top: 12px;
min-height:600px;
}

h3 {
    margin-top:10px;
    align-items:center;  
     /* alinea verticalmente */
    justify-items:center; 
    /*alinea horizontalmente */
}

/* .text, .welcome {
    padding: 20px;
}

.welcome {
    padding:10px;
} */

.img-cont {
    align-items:center;   /* alinea verticalmente */
    justify-items:center; /*alinea horizontalmente */
   padding:10px;
}

.img-virus {
    padding:10px;
  }
  .img-liga {
     padding:10px;
  }

.btn-container {
display:grid;
grid-template-columns: 2fr 2fr; 
text-align: center;
align-items:center;
margin-bottom:30px;
}

button {
   background-color:#572A99;
   padding: 10px;
   color:white;
   border-radius: 30px;
   width: 80%;
}

p {
    margin-bottom: 0px;
}
