/* MOBILE FIRST */
.home {
display:flex;
flex-direction: column; 
text-align:center;
justify-content: center;
justify-items: center;
padding:10px;
}

h3 {
    margin-top:10px;
    align-items:center;  
     /* alinea verticalmente */
    justify-items:center; 
    /*alinea horizontalmente */
}

.text, .welcome {
    padding: 20px;
}

.welcome {
    padding:10px;
}

.container {
    align-items:center;   
   padding:0px;
}

.img-cont {
    align-items:center;   /* alinea verticalmente */
    justify-items:center; /*alinea horizontalmente */
   padding:10px;
}
 
.btn-cont {
display:grid;
grid-template-columns: 2fr 2fr; 
text-align: center;
align-items:center;
}

button {
   background-color:#572A99;
   padding: 10px;
   color:white;
   border-radius: 30px;
   width: 80%;
}

p {
    margin-bottom: 0px;
}


/* TABLET */
/* @media (max-width: 1023px) and (min-width: 601px) {

    .container {
        height: 923px;
    }
    .inicio {
    display:grid;
    }
   .img-cont {
    grid-template-columns: 1fr 1fr 1fr;
   }
   .img-home {
    width:400px;
    }

} */


/* TABLET PRO */
/* @media (min-width: 1024px) and (min-height: 1036px) {

    .inicio {
    display:grid;
    }
    .container {
   padding:0px;
   height: 1265px;
    }

} */


/* DESKTOP */
/* @media (min-width: 1025px) {

    .container {
        padding:0px;
        height: 836px;
    }
   .img-cont {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:20px; 
   }
   .buttons-cont {
    display:grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    }
    h3 {
        margin-top:50px;
}
 button {
    width: 100%;
} 
 .img-virus {
    width:170px;
    margin-right:100px;
}
.img-liga {
      width:320px;
 }

}  */