/* .kids, .quiz, .games, .videos {
    display:flex;
    flex-direction: column; 
    text-align:center;
    justify-content: center;
    justify-items: center;
    padding:20px;
    } */

       .kids {
        margin-bottom:20px;
        padding:1¡20px;
    }
    
    .games {
        margin-bottom:30px;
    }

    .videos-cont {
        padding:10px;
        text-align:center;
        align-content: center;
        align-self: center;align-self: center;
    }
    
    .video {
        padding:5px;
        text-align:center;
        align-content: center;
        align-self: center;align-self: center;
    }


    .hottie-images {
        padding:10px;
    }

   .welcome, .welcomekids {
       /* max-width:max-content; */
       margin:5px;
   }

  .video {
       text-align:center;
       justify-content:center;
       justify-items:center;
       justify-self:center;
   }


   .container-games {

   }

   .title, .kidstitle {
       padding-top:10px;
   }
   .subtitle h5{
color:#2c73c5;
padding:10px;
   }