body {
  background-color:rgb(255, 255, 255);
  color:#2c72a5; 
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

}

@font-face {
  font-family: 'Rounded Elegance';
  src: url('http://www.fontsaddict.com/fontface/rounded-elegance.ttf');
}